body{
    background-color: #FFA500 !important;
}
.main-body{
    min-height: 780px;
}
.card-block{
    padding:20px 10px;
}
.main-body .banner-background{
    background: -moz-linear-gradient(left, rgba(28,12,19,1) 0%, rgba(10,14,10,0.85) 26%, rgba(110,119,116,0.61) 69%, rgba(237,241,242,0.43) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(28,12,19,1) 0%,rgba(10,14,10,0.85) 26%,rgba(110,119,116,0.61) 69%,rgba(237,241,242,0.43) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(28,12,19,1) 0%,rgba(10,14,10,0.85) 26%,rgba(110,119,116,0.61) 69%,rgba(237,241,242,0.43) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0c13', endColorstr='#6eedf1f2',GradientType=1 ); /* IE6-9 */
}
.main-body .banner{
    color: #FFFFFE;
    background-image: url("images/hypo-banner.jpg");
    width:1024px; /*width of your image*/
    height:290px; /*height of your image*/
    margin-left:140px; /* If you want no margin */
    margin-right:40px;
    padding:0; /*if your want to padding */
    background-repeat: no-repeat;
}
.container-fluid {
    padding-left:40px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 20px;
    background-color: #dae0e5;
}

.vbar{
    fill:#8a89a6;
}

svg, #tagcloud {
    background: #FFFFFE;
    background-color: #FFFFFE;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
    display: none;
}
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.orgwise, .overall {
    border-radius: 10px;
    border-color: #F0f0f0;
    border-width: 2px;
    padding: 5px;
    background: #F5F5F5;
    margin-bottom:20px;
}

.tagcloudlink{
    border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #F5F5F5;
    color:#003333;
    padding: 3px 4px;
    margin: 2px;
    float: none;
}
    