body{
    background-color: #f8d7da !important;

}
.container-fluid {
    padding-left:40px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 20px;
    background-color: #dae0e5;
}

.vbar{
    fill:#8a89a6;
}

svg, #tagcloud {
    background: #FFFFFE;
    background-color: #FFFFFE;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
    display: none;
}
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.orgwise, .overall {
    border-radius: 10px;
    border-color: #F0f0f0;
    border-width: 2px;
    padding: 5px;
    background: #F5F5F5;
    margin-bottom:20px;
}

.tagcloudlink{
    border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #F5F5F5;
    color:#003333;
    padding: 3px 4px;
    margin: 2px;
    float: none;
}
    